* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
}

:root {
    font-size: 62.5%;

    --bg-primary: #EFF1FF;
    --bg-header:#8E9AAF;
    --bg-hd-secondary: #CBC0D3;
    --text-title: #ffffff;
    --text-primary: #23053A;
    --text-secondary: #4A4E69;
}

body {
    background: var(--bg-primary);
}

.page {
    min-width: 38rem;
}
 
/* Header */

header{
    background: var(--bg-header);
    display: grid;
    place-items: center;
}

#logo-mob{
    margin-top: 3.2rem;
    
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

#logo-desk{
    display: none;
}

.title-desk{
    display: none;
}

.title{
    margin-top: 3.2rem;
    margin-bottom: 2.9rem;
    background-color: var(--bg-hd-secondary);
    text-align: center;
    width: 100%;
}

.title h1{
    font-family: 'Staatliches';
    font-size: 1.41rem;
    font-weight: 400;
    line-height: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    padding: 0.8rem;
    color: var(--text-title);

    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1.8rem 3.2rem 6rem;
}

.text{

    font-family: 'Palanquin', sans-serif;
    width: 40.5rem;
    text-align: center;

    margin-top: 1.4rem;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    
    color: var(--text-primary);
}

/* Cards */

.cards{
    display: grid;
    margin-top: 6.2rem;
    grid-gap: 3.2rem;
}

.card:hover{
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    transform: scale(1.1);
}

.cards .card{
    position: relative;
    /*width: 32rem;*/
    height: fit-content;
    margin-bottom: 3.2rem;
}

.cards .card span{
    font-family: 'Staatliches';
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 3.4rem;
    letter-spacing: 0.2rem;

    position: absolute;
    text-align: center;
    top: 1.6rem;
    right: 1.6rem;

    color: var(--text-secondary);
    background: var(--text-title);
    border-radius: 2rem;

    width: 11.2rem;
}

.cards .card img {
    width: 100%;

    border-radius: 2rem;
}

.card{
    animation: fade-in-top 1s backwards;
}


/* fOOTER */

footer{
    display: none;
}

/* Animações Frae*/

    
@keyframes fade-in-top {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Iniciando Desktop */

@media (min-width: 900px) {
   
    .page {
        display: flex;
    }

    #logo-mob{
        display: none;
    }

    #logo-desk{
        display: block;
        margin-top: 3.2rem;
        margin-left: 3.2rem;
    }

    header {
        width: 37.7rem;
        height: 100vh;
        position: fixed;

        display: flex;
        flex-direction: column; 
    }

    .title-desk{
        display: block;
        font-family: 'Roboto';
        font-size: 1.8rem;
        line-height: 1.5rem;

        align-items: center;
        text-align: center;

        margin-top: 5.2rem;
        width: 27.5rem;

        color: var(--text-title);
    }

    .text {
        display: none;
    }

    /* Cards Desk */

    .cards {
        margin-left: 37.7rem;

        grid-template-areas: 'A B' 'C B' 'C D' 'E F';
    }

    .cards .card:nth-child(1) {
        grid-area: A;
        animation-delay: 0.3s;
    }
    .cards .card:nth-child(2) {
        grid-area: B;
    
    }
    .cards .card:nth-child(3) {
        grid-area: D;
        animation-delay: 0.3s;
    }
    .cards .card:nth-child(4) {
        grid-area: C;
        animation-delay: 0.3s;
    }
    .cards .card:nth-child(5) {
        grid-area: E;

    }
    .cards .card:nth-child(6) {
        grid-area: F;
        animation-delay: 0.3s;
    }

    /* Footer */

    footer{
        display: block;
        margin-left: 37.7rem;
        margin-bottom: 3.2rem;
    }

    footer p{
        
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: bold;

        font-size: 14px;
        line-height: 28px;

        text-align: center;
        color: var(--text-secondary);
        mix-blend-mode: normal;
    }

}

/* Grid dos Cards */

@media (min-width: 1300px) {
    .cards {
        grid-template-areas: 'A B C' 'D B E' 'D F E';
    }

    .cards .card:nth-child(1) {
        grid-area: A;
    }
    .cards .card:nth-child(2) {
        grid-area: B;
    }
    .cards .card:nth-child(3) {
        grid-area: C;
    }
    .cards .card:nth-child(4) {
        grid-area: D;
    }
    .cards .card:nth-child(5) {
        grid-area: F;
    }
    .cards .card:nth-child(6) {
        grid-area: E;
    }
    
}

/* Animation LogoDesktop */

/***************************************************
 * Generated by SVG Artista on 4/7/2023, 5:58:45 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 @-webkit-keyframes animate-svg-fill-1 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  @keyframes animate-svg-fill-1 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  .svg-elem-1 {
    -webkit-animation: animate-svg-fill-1 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.8s both;
            animation: animate-svg-fill-1 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.8s both;
  }
  
  @-webkit-keyframes animate-svg-fill-2 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  @keyframes animate-svg-fill-2 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  .svg-elem-2 {
    -webkit-animation: animate-svg-fill-2 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 1s both;
            animation: animate-svg-fill-2 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 1s both;
  }
  
  @-webkit-keyframes animate-svg-fill-3 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(242, 242, 242);
    }
  }
  
  @keyframes animate-svg-fill-3 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(242, 242, 242);
    }
  }
  
  .svg-elem-3 {
    -webkit-animation: animate-svg-fill-3 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 1.2000000000000002s both;
            animation: animate-svg-fill-3 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 1.2000000000000002s both;
  }
  
  @-webkit-keyframes animate-svg-fill-4 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  @keyframes animate-svg-fill-4 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(255, 255, 255);
    }
  }
  
  .svg-elem-4 {
    -webkit-animation: animate-svg-fill-4 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 1.4000000000000001s both;
            animation: animate-svg-fill-4 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 1.4000000000000001s both;
  }
  
  @-webkit-keyframes animate-svg-fill-5 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(228, 228, 228);
    }
  }
  
  @keyframes animate-svg-fill-5 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(228, 228, 228);
    }
  }
  
  .svg-elem-5 {
    -webkit-animation: animate-svg-fill-5 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 1.6s both;
            animation: animate-svg-fill-5 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 1.6s both;
  }
  
  @-webkit-keyframes animate-svg-fill-6 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(242, 242, 242);
    }
  }
  
  @keyframes animate-svg-fill-6 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(242, 242, 242);
    }
  }
  
  .svg-elem-6 {
    -webkit-animation: animate-svg-fill-6 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 1.8s both;
            animation: animate-svg-fill-6 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 1.8s both;
  }
  
  @-webkit-keyframes animate-svg-fill-7 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(228, 228, 228);
    }
  }
  
  @keyframes animate-svg-fill-7 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(228, 228, 228);
    }
  }
  
  .svg-elem-7 {
    -webkit-animation: animate-svg-fill-7 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 2s both;
            animation: animate-svg-fill-7 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 2s both;
  }
  
  @-webkit-keyframes animate-svg-fill-8 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(242, 242, 242);
    }
  }
  
  @keyframes animate-svg-fill-8 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(242, 242, 242);
    }
  }
  
  .svg-elem-8 {
    -webkit-animation: animate-svg-fill-8 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 2.2s both;
            animation: animate-svg-fill-8 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 2.2s both;
  }
  
  @-webkit-keyframes animate-svg-fill-9 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(242, 242, 242);
    }
  }
  
  @keyframes animate-svg-fill-9 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(242, 242, 242);
    }
  }
  
  .svg-elem-9 {
    -webkit-animation: animate-svg-fill-9 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 2.4000000000000004s both;
            animation: animate-svg-fill-9 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 2.4000000000000004s both;
  }
  
  @-webkit-keyframes animate-svg-fill-10 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(221, 190, 169);
    }
  }
  
  @keyframes animate-svg-fill-10 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(221, 190, 169);
    }
  }
  
  .svg-elem-10 {
    -webkit-animation: animate-svg-fill-10 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 2.6s both;
            animation: animate-svg-fill-10 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 2.6s both;
  }
  
  @-webkit-keyframes animate-svg-fill-11 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(0, 0, 0);
    }
  }
  
  @keyframes animate-svg-fill-11 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(0, 0, 0);
    }
  }
  
  .svg-elem-11 {
    -webkit-animation: animate-svg-fill-11 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 2.8s both;
            animation: animate-svg-fill-11 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 2.8s both;
  }
  
  @-webkit-keyframes animate-svg-fill-12 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(0, 0, 0);
    }
  }
  
  @keyframes animate-svg-fill-12 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(0, 0, 0);
    }
  }
  
  .svg-elem-12 {
    -webkit-animation: animate-svg-fill-12 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 3s both;
            animation: animate-svg-fill-12 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 3s both;
  }
  
  @-webkit-keyframes animate-svg-fill-13 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(222, 170, 255);
    }
  }
  
  @keyframes animate-svg-fill-13 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(222, 170, 255);
    }
  }
  
  .svg-elem-13 {
    -webkit-animation: animate-svg-fill-13 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 3.2s both;
            animation: animate-svg-fill-13 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 3.2s both;
  }
  
  @-webkit-keyframes animate-svg-fill-14 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(222, 170, 255);
    }
  }
  
  @keyframes animate-svg-fill-14 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(222, 170, 255);
    }
  }
  
  .svg-elem-14 {
    -webkit-animation: animate-svg-fill-14 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 3.4000000000000004s both;
            animation: animate-svg-fill-14 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 3.4000000000000004s both;
  }
  
  @-webkit-keyframes animate-svg-fill-15 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(222, 170, 255);
    }
  }
  
  @keyframes animate-svg-fill-15 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(222, 170, 255);
    }
  }
  
  .svg-elem-15 {
    -webkit-animation: animate-svg-fill-15 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 3.6000000000000005s both;
            animation: animate-svg-fill-15 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 3.6000000000000005s both;
  }
  
  @-webkit-keyframes animate-svg-fill-16 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(0, 0, 0);
    }
  }
  
  @keyframes animate-svg-fill-16 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(0, 0, 0);
    }
  }
  
  .svg-elem-16 {
    -webkit-animation: animate-svg-fill-16 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 3.8s both;
            animation: animate-svg-fill-16 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 3.8s both;
  }
  
  @-webkit-keyframes animate-svg-fill-17 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(0, 0, 0);
    }
  }
  
  @keyframes animate-svg-fill-17 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(0, 0, 0);
    }
  }
  
  .svg-elem-17 {
    -webkit-animation: animate-svg-fill-17 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 4s both;
            animation: animate-svg-fill-17 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 4s both;
  }
  
  @-webkit-keyframes animate-svg-fill-18 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(125, 26, 171);
    }
  }
  
  @keyframes animate-svg-fill-18 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(125, 26, 171);
    }
  }
  
  .svg-elem-18 {
    -webkit-animation: animate-svg-fill-18 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 4.2s both;
            animation: animate-svg-fill-18 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 4.2s both;
  }
  
  @-webkit-keyframes animate-svg-fill-19 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(125, 26, 171);
    }
  }
  
  @keyframes animate-svg-fill-19 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(125, 26, 171);
    }
  }
  
  .svg-elem-19 {
    -webkit-animation: animate-svg-fill-19 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 4.4s both;
            animation: animate-svg-fill-19 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 4.4s both;
  }
  
  @-webkit-keyframes animate-svg-fill-20 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(125, 26, 171);
    }
  }
  
  @keyframes animate-svg-fill-20 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(125, 26, 171);
    }
  }
  
  .svg-elem-20 {
    -webkit-animation: animate-svg-fill-20 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 4.6000000000000005s both;
            animation: animate-svg-fill-20 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 4.6000000000000005s both;
  }
  
  @-webkit-keyframes animate-svg-fill-21 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(125, 26, 171);
    }
  }
  
  @keyframes animate-svg-fill-21 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(125, 26, 171);
    }
  }
  
  .svg-elem-21 {
    -webkit-animation: animate-svg-fill-21 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 4.8s both;
            animation: animate-svg-fill-21 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 4.8s both;
  }
  
  @-webkit-keyframes animate-svg-fill-22 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(125, 26, 171);
    }
  }
  
  @keyframes animate-svg-fill-22 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(125, 26, 171);
    }
  }
  
  .svg-elem-22 {
    -webkit-animation: animate-svg-fill-22 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 5s both;
            animation: animate-svg-fill-22 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 5s both;
  }
  
  @-webkit-keyframes animate-svg-fill-23 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(125, 26, 171);
    }
  }
  
  @keyframes animate-svg-fill-23 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(125, 26, 171);
    }
  }
  
  .svg-elem-23 {
    -webkit-animation: animate-svg-fill-23 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 5.2s both;
            animation: animate-svg-fill-23 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 5.2s both;
  }
  
  @-webkit-keyframes animate-svg-fill-24 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(125, 26, 171);
    }
  }
  
  @keyframes animate-svg-fill-24 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(125, 26, 171);
    }
  }
  
  .svg-elem-24 {
    -webkit-animation: animate-svg-fill-24 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 5.4s both;
            animation: animate-svg-fill-24 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 5.4s both;
  }
  
  @-webkit-keyframes animate-svg-fill-25 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(125, 26, 171);
    }
  }
  
  @keyframes animate-svg-fill-25 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(125, 26, 171);
    }
  }
  
  .svg-elem-25 {
    -webkit-animation: animate-svg-fill-25 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 5.6000000000000005s both;
            animation: animate-svg-fill-25 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 5.6000000000000005s both;
  }
  
  @-webkit-keyframes animate-svg-fill-26 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(125, 26, 171);
    }
  }
  
  @keyframes animate-svg-fill-26 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(125, 26, 171);
    }
  }
  
  .svg-elem-26 {
    -webkit-animation: animate-svg-fill-26 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 5.8s both;
            animation: animate-svg-fill-26 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 5.8s both;
  }
  
  @-webkit-keyframes animate-svg-fill-27 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(222, 170, 255);
    }
  }
  
  @keyframes animate-svg-fill-27 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(222, 170, 255);
    }
  }
  
  .svg-elem-27 {
    -webkit-animation: animate-svg-fill-27 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 6s both;
            animation: animate-svg-fill-27 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 6s both;
  }
  
  @-webkit-keyframes animate-svg-fill-28 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(222, 170, 255);
    }
  }
  
  @keyframes animate-svg-fill-28 {
    0% {
      fill: transparent;
    }
  
    100% {
      fill: rgb(222, 170, 255);
    }
  }
  
  .svg-elem-28 {
    -webkit-animation: animate-svg-fill-28 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 6.2s both;
            animation: animate-svg-fill-28 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) 6.2s both;
  }
  